# Third week notebook

This notebook get the Postcode, Borough and Neighbourhood from Toronto


First modules are imported

In [1]:
from bs4 import BeautifulSoup
import requests
import csv
print('Modules imported :)')

Modules imported :)



Then the URI is defined

In [2]:
uri = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
print('The URI is: {} '.format(uri) )

The URI is: https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

Scarping the data and making the data frame

In [3]:
import pandas as pd
dfs = pd.read_html(uri, header=0)
df = dfs[0]

Using method chaining operations are carried out. 
 - First, the rows where Borough are assigned the value 'Not assigned' is removed
 - Then, for each postcode the name of the first borough and a comma separated list of the neighourhoods are compiled. If the boroughs have the same postcode this will only keep the name of the first borough
 - Finaly, reset index is used to make the postcode a colum and not an index

In [4]:
df1 = (df[df.Borough != 'Not assigned']
        .groupby('Postcode')
        .agg({'Borough': lambda x: x.iloc[0], 'Neighbourhood': lambda x: "%s" % ', '.join(x)})
        .reset_index()
      )
df1.head(5)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Making a copy to aviod mutating a data frame. Then, the values for the Neighbourhood which are not assigend are replaced with the name of the Borough. This assumes that no Borough have the value Not assigned.

In [5]:
df2 = df1.copy(deep=True)
df2.loc[df2.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df1.loc[df1.Neighbourhood == 'Not assigned', 'Borough']
df2.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Check that there are no neighbourhood that are not assigned

In [6]:
df2[df2.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

Finaly we print the shape to show that we got the right number of rows

In [7]:
df2.shape

(103, 3)